image: oats87/hyperkube:{{build.tag}}
manifests:
  -
    image: oats87/hyperkube:{{build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: oats87/hyperkube:{{build.tag}}-linux-arm64
    platform:
      architecture: arm64
      os: linux
  -
    image: oats87/hyperkube:{{build.tag}}-linux-arm
    platform:
      architecture: arm
      os: linux
  -
    image: oats87/hyperkube:{{build.tag}}-windows-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: oats87/hyperkube:{{build.tag}}-windows-1903
    platform:
      architecture: amd64
      os: windows
      version: 1903
